.header {
    
    font-weight: 800;
    font-size: 4vw;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

@media (max-width: 700px) {
    .header{
        font-size: 7vw;
        letter-spacing: .4rem;
    }
}

.services-grid{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.services-header{
    font-family: var(--font-cormorant);
    width: 100%;
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
}